<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-role-edit" th:object="${role}">
        <input id="roleId" name="roleId" type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">(默认自动获取)uuid：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="roleUuid" id="roleUuid" th:field="*{roleUuid}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">角色名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="roleName" id="roleName" th:field="*{role}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色状态：</label>
            <div class="col-sm-8">
                <div class="onoffswitch">
                    <input type="checkbox" th:checked="${role.status == '1' ? true : false}" class="onoffswitch-checkbox" id="status" name="status">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">角色描述：</label>
            <div class="col-sm-8">
                <input id="description" name="description" class="form-control" type="text" th:field="*{description}">
            </div>
        </div>
    </form>
</div>

</body>
</html>