<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            角色名称：<input type="text" name="roleName"/>
                        </li>
                        <li>
                            权限字符：<input type="text" name="roleKey"/>
                        </li>
                        <li>
                            角色状态：<select name="status" >
                            <option value="">所有</option>
                            <option ></option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input form-control layer-date" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick=""><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick=""><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" >
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" >
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" >
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" >
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(function() {
        var options = {
            url:"/role/list",

            sortName: "id",
            modalName: "角色",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'roleUuid',
                    title: 'uuid'
                },
                {
                    field: 'id',
                    title: '角色编号'
                },
                {
                    field: 'role',
                    title: '角色名称'
                },
                {
                    field: 'description',
                    title: '角色描述'
                },
                {
                    field: 'status',
                    title: '角色状态'
                },
                {
                    field: 'createtime',
                    title: '创建时间'
                },
                {
                    field: 'updatetime',
                    title: '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="#" ><i class="fa fa-check-square-o"></i>编辑</a> ');
                        actions.push('<a class="btn btn-primary btn-xs " href="#" ><i class="fa fa-check-square-o"></i>数据权限</a> ');
                        actions.push('<a class="btn btn-danger btn-xs " href="#" ><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>