/target/
/logs/
/hope-admin/logs/
!.mvn/wrapper/maven-wrapper.jar
/src/mian/resources/rebel.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../.idea
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!/hope-core/
!/hope-quartz/
!/hope-framework/
!/hope-flyway/
!/hope-admin/
!/service-api/
!/hope-sso-server/
!/hope-generator/
