<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include :: header"></head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <div style="color: red">
            <h1 >0 1 0</h1>
        </div>
        <div class="error-desc">
            sorry,您无权访问...
            <br/>您可以返回主页看看
            <br/><a href="/hope-plus" class="btn btn-primary m-t">主页</a>
        </div>
    </div>

    <!-- 全局js -->
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>

    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <!--统计代码，可删除-->

</body>

</html>
